.paragraph {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-top: 22px;
  box-sizing: border-box;
  overflow-x: hidden;
}
.paragraph .paragraph__options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 18px;
  border-radius: 4px 4px 0 0;
  background-color: #f1f3f5;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
}
.options__form {
  padding: 5px;
}
.options__form input {
  border: 1px solid #4a4b4c;
  border-radius: 4px;
  background-color: #fff;
  padding: 3px;
}
.options__form label {
  color: #4f4f4f;
  font-family: Arial;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}
.options__form .input__number {
  width: 50px;
}
.options__form .input__button {
  text-align: center;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #ff5f58;
  color: #fff;
  font-family: Arial;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}
.input__button:disabled{
  background-color: #ff9a95;
}
.paragraph .paragraph__text {
  padding: 18px;
}
.paragraph__text .text {
  color: #333;
  font-family: Arial;
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 10px;
}
.paragraph__text  .text--error {
  color: rgb(124, 0, 0);
  font-family: Arial;
  font-size: 18px;
  line-height: 36px;
}
@media screen and (min-width: 1200px) {
  .paragraph .paragraph__container {
    max-width: 1200px;
    padding: 20px;
  }
}
@media screen and (min-width: 500px) {
  .options__form .input__button {
    height: 42px;
    width: 139px;
  }
}
